@font-face {
    font-family: "Norse", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    src: url(/Norse-Bold.otf);
}

:root {
    font-size: 16px;
    font-family: inherit;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f5f0f0;
}

main {
    flex:auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.loginMsg {
    display: flex;
    width: 48%;
    flex-direction: column;
    height: 30%;
    align-items: flex-start;
    justify-content: flex-end;
    z-index: 1;
}

.loginMsg h1{
    padding-left: 2rem;
    display: inline-block;
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
}

form {
    display: flex;
    flex: auto;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 50vh;
    justify-self: center;
}

.mainForm {
    background-color: #ffffff;
    border-radius: 0.2rem;
    display: flex;
    position: relative;
    justify-self: center;
    align-self: center;
    padding-left: 0;
    height: 45%;
    width: 100%;
    border: 1px solid rgb(234, 234, 234);
    box-shadow: 0px 0px 8px 7px rgb(230, 230, 230);
    
}

fieldset {
    max-height: 100%;
    width: 60%;
    justify-content: flex-end;
    border-style: none;
    position: relative;
    display: flex;
    margin-left: 1em;
    padding-top: 1em;
    padding-left: 0;
    padding-bottom: 1em;
    flex-direction: column;
}

legend {
    position: absolute;
    font-weight: 700;
    font-size: 1.5rem;
    top: 6%;
    font-family: Helvetica, sans-serif;
    margin-left: 1.3rem;
}

.formFieldWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 2.2rem);
    align-items: center;
}

.formwrap-left, .formwrap-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label {
    width: 100%;
    margin-left: 1rem;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    color: #3d3d3d;
}
input {
    width: 90%;
    padding: 1.5px;
    margin-left: 1rem;
    border: 1px solid #E5E7EB;
    border-radius: 0.3rem;
}

input:focus {
    border: 1px solid blue;
    box-shadow: 0px 0px 2px 1px blue;
}

#pword:invalid, #pword-confirm:invalid {
    border: 1px solid red;
}

#pword:valid, #pword-confirm:valid {
    border: 1px solid green;
}

.fields {
    margin: 0.5rem;
}

.formOptions {
    flex: auto;
    margin-left: 2em;
}
button {
    margin-top: 2rem;
    justify-self: center;
    align-self: flex-start;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    background-color: #596D48;
    height: 3rem;
    width: 12rem;
    border: 2px solid #596D48;
    border-radius: 0.6rem;
    box-shadow: 0px 2px 3px 1px rgba(89, 109, 72, 0.529);
}


.img-sidebanner {
    align-self: flex-start;
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
    width: 50vw; /* Takes up its fixed point of the page */
    height: 100%;
    justify-content: center;
    z-index: 1;
}

.img-sidebanner-logobanner  {
    display: flex;
    position: absolute;
    top: 130px;
    width: 100%;
    left: 0;
    height: 10rem;
    background-color: rgba(19, 18, 18, 0.55);
    justify-content: center;
    align-items: center;
}

.img-sidebanner-logobanner img{
    height: 8rem;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 100%;
}
.img-sidebanner-logobanner h1 {
    font-family: "Norse";
    color: white;
    font-size:6em;
    max-width: 100%;
}

#side-bg {
    height: 100vh;
    width: 100%;
}

figcaption {
    position: absolute;
    color: white;
    margin-bottom: 0.9rem;
    font-size: 1em;
    align-self: end;
}

span.underline {
    text-decoration: underline;
}

.formOptions p {
    margin-top: 1.5rem;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
}

.loginLink a:link {
    color: #596D48;
    font-weight: 700;
    text-decoration: none;
}

.loginLink a:hover {
    text-decoration: underline;
}

.loginLink a:visited {
    color: rgb(75, 4, 75);
}

